{% extends "base_generic.html" %}

{% block content %}
<h1>Graph Drover Home</h1>

  <p>Welcome to <em>Graph Drover</em>, a very basic Django website developed as an example for Research Seminar.</p>

<h2>Dynamic content</h2>

  <p>You can draw following graphs</p>
  <ul>
    <form action="PageObjects" method="get">
       <select name="year">
           <option selected="selected" disabled>Objects on page:</option>
           <option value="2010">2010</option>
           <option value="2011">2011</option>
           <option value="2012">2012</option>
           <option value="2013">2013</option>
           <option value="2014">2014</option>
           <option value="2015">2015</option>
           <option value="2016">2016</option>
           <option value="2017">2017</option>
           <option value="2018">2018</option>
           <option value="2019">2019</option>
       </select>
       <select name="graph">
           <option selected="selected" disabled>Objects on page:</option>
           <option value="co-authorship">co-authorship</option>
           <option value="citations">citations</option>
       </select>
        <select name="layout">
           <option selected="selected" disabled>Objects on page:</option>
           <option value="random">Random</option>
           <option value="circular">Circular</option>
           <option value="kamada_kawai">Kamada Kawai</option>
           <option value="spring">Spring</option>
       </select>
        <input type="submit" value="Select">
    </form>

  </ul>

{% endblock %}